web/plugins/com.seekon.nextbi.spreadsheet/web/lib/export/sps/example1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<!ELEMENT worksheet ((sheetproperties, grid))>
<!ELEMENT value (#PCDATA)>
<!ELEMENT sheetproperties (#PCDATA)>
<!ELEMENT rows ((row+))>
<!ELEMENT row ((cells))>
<!ATTLIST row
	height (50pt | 30pt | 20pt) #REQUIRED
>
<!ELEMENT grid ((charts, rows))>
<!ELEMENT charts ((chart+))>
<!ELEMENT chart EMPTY>
<!ATTLIST chart
	left (300px | 200px | 100px) #REQUIRED
	src CDATA #FIXED "Jedox.jpg"
	top (300px | 200px | 100px) #REQUIRED
	z-index (1003 | 1002 | 1001) #REQUIRED
>
<!ELEMENT cells ((cell+))>
<!ELEMENT cell ((value))>
<!ATTLIST cell
	background-color CDATA #REQUIRED
	color CDATA #REQUIRED
	font-family CDATA #FIXED "Arial"
	font-size (12px | 10px) #REQUIRED
	font-style (normal | italic) #REQUIRED
	font-weight (normal | bold) #REQUIRED
	text-align (right | left) #REQUIRED
	text-decoration CDATA #FIXED "none"
	width (70px | 70 | 50px | 50 | 30px | 30 | 100px | 100) #REQUIRED
>
